prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr: <http://dbpedia.org/resource/>
prefix sio: <http://semanticscience.org/resource/>
prefix usda-kb: <http://idea.rpi.edu/heals/kb/usda#>
prefix owl: <http://www.w3.org/2002/07/owl#>
prefix crs-rec: <https://tw.rpi.edu/ontology-engineering/oe2020/course-recommender/>