?courseSectionUri crs-rec:isCourseSectionOf ?courseUri ;
    crs-rec:hasSemester ?semesterScheduleUri .

{% include 'models/semester_schedule.sparql.j2' %}
{% include 'models/course.sparql.j2' %}

OPTIONAL {
    ?courseSectionUri crs-rec:hasSchedule ?courseScheduleUri ;
}
