git+git://github.com/solashirai/ExplainableRecommenderFramework.git@c91e64ff137681bd34bdcb1c91afee00b9f2c3b4#egg=frex
scipy==1.5.2
dataclasses-json==0.5.2
rdflib==4.2.2
pytest==6.0.1
SPARQLWrapper==1.8.5
