git+git://github.com/solashirai/ExplainableRecommenderFramework.git@ae302aa62e1ec58bde4d147466948582e367e8a9#egg=frex
scipy==1.5.2
dataclasses-json==0.5.2
rdflib==4.2.2
pytest==6.0.1
SPARQLWrapper==1.8.5
Jinja2==2.11.2
flask==1.1.2
unidecode==1.1.1
pyyaml