?courseCodeUri a crs-rec:CourseCode ;
    crs-rec:hasLevel ?courseCodeLevel ;
    crs-rec:hasDepartmentCode ?departmentCodeUri ;
    lcc-lr:hasTag ?courseCodeTag ;
    crs-rec:hasCrossListing ?clCourseCodeUri .

{% include 'constructors/constructor_department_code.sparql.j2' %}