{% extends 'base/construct_query.sparql.j2' %}
{% block construct_triples %}
    {% include 'constructors/constructor_requirement.sparql.j2' %}
{% endblock %}
{% block values %}
    {% include 'base/value_constraint.sparql.j2' %}
{% endblock %}
{% block expressions %}
    {% include 'models/requirement.sparql.j2' %}
{% endblock %}
