{% extends 'base/construct_query.sparql.j2' %}
{% block construct_triples %}
    {% include 'constructors/constructor_student.sparql.j2' %}
{% endblock %}
{% block values %}
    {% include 'base/value_constraint.sparql.j2' %}
{% endblock %}
{% block expressions %}
    {% include 'models/student.sparql.j2' %}
{% endblock %}
