{% extends 'base/construct_query.sparql.j2' %}
{% block construct_triples %}
    {% include 'constructors/constructor_course_section.sparql.j2' %}
{% endblock %}
{% block values %}
    {% include 'base/value_constraint.sparql.j2' %}
{% endblock %}
{% block expressions %}
?semesterScheduleUri a crs-rec:SemesterSchedule ;
    crs-rec:hasTerm ?semesterTermStr ;
    crs-rec:hasYear ?semesterYearInt .
?courseSectionUri crs-rec:hasSemester ?semesterScheduleUri .
    {% include 'models/course_section.sparql.j2' %}
{% endblock %}
