{% extends 'base/construct_query.sparql.j2' %}
{% block construct_triples %}
    {% include 'constructors/constructor_course_section.sparql.j2' %}
{% endblock %}
{% block values %}
    {% include 'base/value_constraint.sparql.j2' %}
{% endblock %}
{% block expressions %}
?semesterScheduleUri crs-rec:hasTerm ?termStr ;
    crs-rec:hasYear ?yearInt .
?courseSectionUri crs-rec:hasSchedule ?semesterScheduleUri .
    {% include 'models/course_section.sparql.j2' %}
{% endblock %}
